<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <div>
            <input formControlName="gameName" class="w-full border rounded-md pl-2" type="text" id="name" name="name"
                placeholder="Cerca un gioco">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 my-2 md:my-4">
        <div>
            <label for="min-player-number">Minimo Giocatori</label>
        </div>
        <div>
            <input formControlName="minPlayerNumber" type="number" class="border rounded-md hover:cursor-pointer"
                id="min-player-number" name="min-player-number" min="0" max="12" value="0" />
        </div>
        <div>
            <label for="max-player-number">Massimo Giocatori</label>
        </div>
        <div>
            <input formControlName="maxPlayerNumber" type="number" class="border rounded-md hover:cursor-pointer"
                id="max-player-number" name="max-player-number" min="0" max="12" value="0" />
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 my-2 md:my-4">
        <div>
            <label for="playing-time">Durata Massima (in minuti)</label>
        </div>
        <div>
            <input type="number" formControlName="playingTime" class="border rounded-md hover:cursor-pointer" id="playing-time"
                name="playing-time" min="0">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 my-2 md:my-4">
        <div>
            <label for="mechanics">Meccaniche</label>
        </div>
        <div formArrayName="mechanics">
            @for (mechanicControl of getMechanicFormArray().controls; track $index; let i = $index) {
                <div>
                    <select [formControlName]="i" class="border rounded-md hover:cursor-pointer" id="mechanics"
                        name="mechanics">
                        @for (mechanic of mechanics$ | async; track mechanic.id) {
                            <option [value]="mechanic.id">{{ mechanic.name }}</option>
                        }
                    </select>
                </div>
            }
        </div>
        <div>
            <button type="button" class="border rounded-md hover:cursor-pointer" (click)="addMechanic()">
                <fa-icon [icon]="faPlus"></fa-icon>
                Aggiungi Meccanica
            </button>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 my-2 md:my-4">
        <div>
            <label for="genres">Generi</label>
        </div>
        <div formArrayName="genres">
            @for (genreControl of getGenreFormArray().controls; track $index; let i = $index) {
                <div>
                    <select [formControlName]="i" class="border rounded-md hover:cursor-pointer" id="genres"
                        name="genres">
                        @for (genre of genres$ | async; track genre.id) {
                            <option [value]="genre.id">{{ genre.name }}</option>
                        }
                    </select>
                </div>
            }
        </div>
        <div>
            <button type="button" class="border rounded-md hover:cursor-pointer" (click)="addGenre()">
                <fa-icon [icon]="faPlus"></fa-icon>
                Aggiungi Genere
            </button>
        </div>
    </div>

    <div>
        <button
            class="block w-1/5 m-auto border rounded-md enabled:hover:bg-stone-300 enabled:hover:cursor-pointer disabled:cursor-not-allowed"
            type="submit" id="filter-button" [disabled]="!form.valid">
            Filtra
            <i class="fa-solid fa-filter"></i>
        </button>
    </div>
</form>